*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b4d0e6;
} 
 */


/* header */
#intestazione{
    background-color: #ffff;
    display: flex;
    padding: 22px 25px 22px 20px;
    justify-content:space-between;
    box-shadow:2px #d1dae1;
}
#intestazione div{
    display: flex;
}
.logo{
    width: 128px;
    height: 25px;
    align-self: center;
}

#intestazione ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 17px;
}
#intestazione li a{
    color: #000;
    text-decoration: none;
    vertical-align: middle;
}
#intestazione li a:hover{
    border-bottom: 2px solid #000;
}
.btn{
    background-color: #0061fe;
    color: #ffff;
    padding:  11px 17px 11px;
} 
.btn:hover{
    background-color: green;
}



